*
{
	margin: 0;
	padding: 0;
}

body
{
	background-image: url(images/background3.jpg);
	height: 100vh;
	background-size: cover;
	background-position: center;
}

img
{
	position: relative;
	right: 20px;
	bottom: 20px;
}